{% extends "layout.html" %} {% block body %}
<br />
<div class="container-sm">
  <div class="row">
    <div class="col-4">
      {% if error %}
      <div class="alert alert-danger">{{ error }}</div>
      {% endif %}
      <form action="/api/replace" target="_blank" method="post" enctype="multipart/form-data">
        <label class="form-label">模板 Word 文件</label>
        <input
          title="file"
          type="file"
          name="docfile"
          class="form-control"
          placeholder="模板文件"
          accept=".docx"
          onchange="docxChange(this)"
        />

        <br />
        <label class="form-label">替换内容的 Excel 文件</label>
        <input
          title="file"
          type="file"
          name="excelfile"
          class="form-control"
          accept=".xlsx"
        />

        <br />
        <input
          id="new_filename"
          name="new_filename"
          type="text"
          class="form-control"
          placeholder="生成的新文件名称"
        />

        <br />
        <button type="submit" class="btn btn-primary">提交</button>
      </form>
    </div>
  </div>
</div>

<script>
  function docxChange(input) {
    const f = input.files[0];
    window.docx = f;
    $("#new_filename").val(f ? f.name.split(".").slice(0, -1).join(".") : "");
  }
</script>
{% endblock %}
